common-client {
  read-timeout: 10000,
  connect-timeout: 10000
}

instagram-client {
  id: "CLIENT-ID",
  secret: "CLIENT-SECRET",
  redirect-uri: "REDIRECT-URL"
}

google-client {
  id: "CLIENT-ID",
  secret: "CLIENT-SECRET",
  redirect-uri: "REDIRECT-URL"
}
